{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
    <link rel="stylesheet" href='{% static "Loginpage.css" %}'/>   
</head>
<body>
    
   <div class="topnav">
        <div class ="left";><img src='{% static "consultaddlogo1.jpg" %}' alt="logo" style="float: left" alt="Image" height="30" width="150">
            <a class="active" href="{% url 'homePage' %}">Home&nbsp;&nbsp;</a>
            <a href="{% url 'contact' %}">Contact us&nbsp;&nbsp;</a>
            <a href="{% url 'service' %}">Service</a>
        </div>
    </div>

    <p>
        <br>
        <h3>
            Service Page
        </h3>
    </p>
</body>
</html>